body {
  font-family: Tahoma;
  background: rgb(63,113,144);
  background: linear-gradient(0deg, rgba(63,113,144,1) 0%, rgba(177,215,215,1) 100%);
  background-attachment: fixed;
}

.text-large {
  font-size: 3.2vh;
  display: inline-block;
}

.text-medium {
  font-size: 2.4vh;
  display: inline-block;
}

.text-small {
  font-size: 2.0vh;
  display: inline-block;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

.thirds {
  width: 33vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clothes-icon {
  width: 12vw;
  border: 3px solid #000;
  margin-right: 3px;
  margin-left: 3px;
}

.weather-icon-medium {
  width: 7vw;
  padding-right: 10px;
}

.weather-icon-small {
  width: 5vw;
}

#future-forecast-table {
  margin-left: auto;
  margin-right: auto;
}

#future-forecast-table td {
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

#severe-weather-alert {
  width: 43vw;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #F00;
  background-color: #FFF;
}

.toggle-switch {
  width: 13vw;
}

.toggle td {
  padding-left: 8px;
  padding-right: 8px;
}